<script id="comment-form-template" type="text/x-handlers-template">
  <form class="CommentForm post-comment">
    <h2>Post Your Comment</h2>
    <textarea placeholder="Type Here" name="content" row="4" class="CommentForm-input textarea form-control"></textarea>

    <div style="background-image: url('<%= image_url('dog-demo-2.png') %>')" class="photo-wrapper">
      <button class="btn-remove"></button>
    </div>
    <div class="location-wrapper">
      <div class="map"></div>
      <div class="btn-remove"></div>
    </div>
    <div class="row">
      <div class="CommentForm__map"></div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col-xs-6">
        <label class="CommentForm__upload btn btn-small btn-blue btn-photo Uploader">
          Upload Photo
          <input type="file" name="image" ref="upload" class="CommentForm-input Uploader-input"/>
        </label>
      </div>
      <div class="col-xs-6">
        <button type="button" class="CommentForm__location btn btn-small btn-blue">Add a Location</button>
      </div>
    </div>
    <button type="submit" class="CommentForm__submit btn btn-xbig btn-blue">Post</button>
  </form>
</script>
