<script id="notification-template" type="text/x-handlebars-template">
  <div class="Notification Notification__type-{{report_type}}">
    <div class="Notification__shadow"></div>
    <div class="Notification__alert">
      <div class="Notification__alert-image"></div>
      <div class="Notification__alert-content">
        <h1>FuzzAlert</h1>
        <p>{{normalized_title}} Buggy</p>
      </div>
      <div class="Notification__alert-close icon-plus"></div>
    </div>
  </div>
</script>
