<script id="reports-item-template" type="text/x-handlers-template">
  <div class="post {{report_type}}-post small-report-card" data-report-id="{{id}}">
    <h3 class="title">{{title}}</h3>
    {{#if title}}
    <div class="photo-holder">
      <div class="FullImage">
        <img src="{{image}}" class="FullImage-img"/>
      </div>
    </div>
    {{else}}
    <div class="photo-holder"></div>
    {{/if}}
    <div class="content-holder">
      <table>
        {{#if last_seen}}
        <tr>
          <td>Last Seen</td>
          <td>{{last_seen}}</td>
        </tr>
        {{/if}}
        <tr>
          <td>Posted by</td>
          <td>{{report_username}}</td>
        </tr>
      </table>
      <a class="read-more">Read more</a>
    </div>
  </div>
</script>
