<html ng-app="lightbox">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <link href="/last_markup/css/style.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/rrssb/1.6.0/css/rrssb.css" rel="stylesheet"/>
    <link href="/last_markup/css/vendor/angular-bootstrap-lightbox.css" rel="stylesheet"/>
    <link href="/last_markup/css/app.css" rel="stylesheet"/>
    <meta property="og:title" content="Lost Dog Buggy"/>
    <meta property="og:url" content="http://fuzzfinders.bova.me/demo-page-lost-pet.html"/>
    <meta property="og:description" content="Hey! Have you seen or have any information about this pet? Last seen at 12/01/16, Vermont Ave, Oakland CA"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:image" content="http://fuzzfinders.bova.me/img/app/sightings-pet-4.png"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@FuzzFinders"/>
    <meta name="twitter:title" content="Lost Dog Buggy"/>
    <meta name="twitter:description" content="Hey! Have you seen or have any information about this pet? Last seen 01/01/16 at 2244, Vermont Ave, Oakland CA"/>
    <meta name="twitter:image" content="http://fuzzfinders.bova.me/img/app/sightings-pet-4.png"/>
  </head>
  <body class="fuzzfinders-app navigation-orange demo">
    <div class="background-for-navigation"></div>
    <div class="menu-navigation"><a href="index.html" class="brand">
        <div class="logo"></div>
        <h3 class="brand-title">Fuzz<span class="alt">Finders</span><span class="trademark">TM</span></h3></a>
      <ul>
        <li class="link-home"><a href="index.html">FuzzFinders</a></li>
        <li><a href="fuzzfacts.html">FuzzFacts</a></li>
        <li><a href="faq-outer.html">FAQ</a></li>
        <li><a href="faq.html">FuzzFund</a></li>
        <li><a href="faq.html">Find Us</a></li>
        <li class="action"><a data-target="sign-in">Sign In</a></li>
        <li class="action"><a data-target="sign-up">Sign Up </a></li>
      </ul>
      <div class="extra-area"></div>
      <div class="nav-trigger nav-trigger-white open"><span></span><span></span><span></span></div>
    </div>
    <div class="mainpage-wrapper">
      <div class="nav-trigger nav-trigger-black"><span></span><span></span><span></span></div>
      <button data-target=".fuzz-chat-wrapper" data-toggle="show" class="btn btn-down btn-toggler">Local FuzzChat</button>
      <div class="content-wrapper">
        <div class="brand">
          <div class="logo"></div>
          <h1 class="brand-title">Fuzz<span class="alt">Finders</span><span class="trademark">TM</span></h1>
        </div>
        <button data-target=".lost-pet-page-wrapper" data-toggle="show" class="btn btn-orange btn-toggler">I Lost a Pet</button>
        <button data-target=".found-pet-page-wrapper" data-toggle="show" class="btn btn-green btn-toggler">I Found a Pet</button>
        <button data-target=".pet-sightings-page-wrapper" data-toggle="show" class="btn btn-blue btn-toggler">Local FuzzAlerts</button>
      </div>
      <div class="lost-pet-post-wrapper show">
        <div class="nav-block nav-block-orange">
          <btn class="back-arrow"><i class="icon-back"></i></btn>
          <h2 class="title"> Lost dog</h2>
          <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
        </div>
        <div class="section-wrapper">
          <div class="map"></div>
          <div class="photo-wrapper photo-wrapper-purple placeholder-dog">
            <div class="photo"></div>
            <h3 class="label">Last Seen 2 Hours Ago</h3>
          </div>
          <div class="post-description">
            <div class="header">
              <div style="background-image: url('../img/app/user-picture-3.png')" class="face-lockup"></div>
              <div class="content">
                <p>Posted by SarahJ</p>
                <p>3 hours ago</p>
                <p class="type">Lost Dog</p>
              </div>
            </div>
            <table class="table table-stripped">
              <tr>
                <td>Size</td>
                <td>Medium</td>
              </tr>
              <tr>
                <td>Color</td>
                <td>Brown</td>
              </tr>
              <tr>
                <td>Breed</td>
                <td>Shepherd</td>
              </tr>
              <tr>
                <td>Sex</td>
                <td>Female</td>
              </tr>
              <tr>
                <td>Last seen</td>
                <td>02/09/2016 6:30PM</td>
              </tr>
            </table>
            <p class="description up-side">It tore off the leash in the park. If you have any information please contact 732-757-2923</p>
          </div>
          <div class="social-share-wrapper">




<ul class="rrssb-buttons clearfix">
  <li class="rrssb-email">
    <!-- Replace subject with your message using URL Endocding: http://meyerweb.com/eric/tools/dencoder/ -->
    <a href="mailto:?subject=Check%20out%20how%20ridiculously%20responsive%20these%20social%20buttons%20are&amp;body=http%3A%2F%2Fkurtnoble.com%2Flabs%2Frrssb%2Findex.html">
      <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M20.11 26.147c-2.335 1.05-4.36 1.4-7.124 1.4C6.524 27.548.84 22.916.84 15.284.84 7.343 6.602.45 15.4.45c6.854 0 11.8 4.7 11.8 11.252 0 5.684-3.193 9.265-7.398 9.3-1.83 0-3.153-.934-3.347-2.997h-.077c-1.208 1.986-2.96 2.997-5.023 2.997-2.532 0-4.36-1.868-4.36-5.062 0-4.75 3.503-9.07 9.11-9.07 1.713 0 3.7.4 4.6.972l-1.17 7.203c-.387 2.298-.115 3.3 1 3.4 1.674 0 3.774-2.102 3.774-6.58 0-5.06-3.27-8.994-9.304-8.994C9.05 2.87 3.83 7.545 3.83 14.97c0 6.5 4.2 10.2 10 10.202 1.987 0 4.09-.43 5.647-1.245l.634 2.22zM16.647 10.1c-.31-.078-.7-.155-1.207-.155-2.572 0-4.596 2.53-4.596 5.53 0 1.5.7 2.4 1.9 2.4 1.44 0 2.96-1.83 3.31-4.088l.592-3.72z"/></svg></span>
      <span class="rrssb-text">email</span>
    </a>
  </li>
  <li class="rrssb-facebook">
    <!--  Replace with your URL. For best results, make sure you page has the proper FB Open Graph tags in header: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/ -->
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://kurtnoble.com/labs/rrssb/index.html" class="popup">
      <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg></span>
      <span class="rrssb-text">facebook</span>
    </a>
  </li>
  <li class="rrssb-twitter">
    <!-- Replace href with your Meta and URL information  -->
    <a href="https://twitter.com/intent/tweet?text=Ridiculously%20Responsive%20Social%20Sharing%20Buttons%20by%20%40dbox%20and%20%40joshuatuscan%3A%20http%3A%2F%2Fkurtnoble.com%2Flabs%2Frrssb%20%7C%20http%3A%2F%2Fkurtnoble.com%2Flabs%2Frrssb%2Fmedia%2Frrssb-preview.png"
    class="popup">
      <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/></svg></span>
      <span class="rrssb-text">twitter</span>
    </a>
  </li>
</ul>







            <!-- <p>Share this post to help find fuzzy!</p> -->
            <!-- <div class="buttons-wrapper"> -->
            <!--   <button class="social-facebook"></button> -->
            <!--   <button class="social-twitter"></button> -->
            <!--   <button class="social-instagram"></button> -->
            <!-- </div> -->
          </div>
          <div class="comments-wrapper">
            <h2>Comments</h2>
            <div class="comment with-image">
              <div class="header">
                <div style="background-image: url('../img/app/user-placeholder.png')" class="face-lockup"></div>
                <div class="content">
                  <p>Posted by Tomas17</p>
                  <p>3 hours ago</p>
                </div>
              </div>
              <div style="background-image: url('../img/app/dog-demo-2.png')" class="image"></div>
              <div class="description-wrapper">
                <p class="description">Check out is it your dog? Some shepherd-dog walked on my backyard.</p>
                <div class="location-sign"><i class="icon-location"></i>Location point added</div>
              </div>
            </div>
            <div class="comment">
              <div class="header">
                <div style="background-image: url('../img/app/user-picture-3.png')" class="face-lockup"></div>
                <div class="content">
                  <p>Posted by SarahJ</p>
                  <p>2 hours ago</p>
                </div>
              </div>
              <div class="description-wrapper">
                <p class="description">No, unfurtunately it’s not my Nicy. May be you should post a message about it? </p>
              </div>
            </div>
            <div class="comment with-image">
              <div class="header">
                <div style="background-image: url('../img/app/user-picture-5.png')" class="face-lockup"></div>
                <div class="content">
                  <p>Posted by AnnaMay</p>
                  <p>2 hours ago</p>
                </div>
              </div>
              <div style="background-image: url('../img/app/dog-demo-3.png')" class="image"></div>
              <div class="description-wrapper">
                <p class="description">Hey, looks like it’s your dog, isn’t it? It was playing in the same park for hours without any owner. I take care for it temporaty. If it’s yours call me by this phone 732-757-2923</p>
                <div class="location-sign"><i class="icon-location"></i>Location point added</div>
              </div>
            </div>
            <div class="comment">
              <div class="header">
                <div style="background-image: url('../img/app/user-picture-3.png')" class="face-lockup"></div>
                <div class="content">
                  <p>Posted by SarahJ</p>
                  <p>2 hours ago</p>
                </div>
              </div>
              <div class="description-wrapper">
                <p class="description">Oh, thanks! Thanks a lot. It is my dog. I will call you in 5 minutes.</p>
              </div>
            </div>
          </div>
          <form class="post-comment">
            <h2>Your Comment</h2>
            <p>Unlogined users are not allowed to left comments to reports. Please, login to FuzzFinders app</p>
            <div class="row">
              <div class="col-xs-6">
                <button type="button" class="btn btn-small btn-blue btn-photo">SIGN IN</button>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-small btn-blue btn-location">SIGN UP</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="sign-modal" role="dialog" aria-labelledby="SignModalLabel" aria-hidden="false" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close"></button>
            <div class="brand"></div>
            <ul class="nav nav-tabs nav-append-content">
              <li id="sign-in-trigger" class="active"><a data-target="#sign-in-form">Sign In</a></li>
              <li id="sign-up-trigger"><a data-target="#sign-up-form">Sign Up</a></li>
            </ul>
            <div class="tab-content">
              <div id="sign-in-form" class="active tab-pane">
                <form>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sing-in-email-input"></label>
                    <input id="sing-in-email-input" type="email" placeholder="Email" name="user-mail" required="required" class="form-control"/><i class="icon-mail form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sing-in-pass-input"></label>
                    <input id="sing-in-pass-input" type="password" data-target="password" placeholder="Password" name="user-pass" required="required" class="form-control"/><i class="icon-password form-control-feedback"></i>
                  </div>
                  <button type="submit" class="btn btn-block btn-submit">Sign In</button>
                  <!-- ***********************************************************-->
                  <!-- По умолчанию скрыта. Показывается только если не правильный ввод пароля-->
                  <!-- Добавить к ней класс .show чтоб отобразить-->
                  <!-- ***********************************************************--><a href="#" class="forgot">Forgot a password?</a>
                  <!-- <div class="social-holder"> -->
                  <!--   <button class="social-facebook"></button> -->
                  <!--   <button class="social-twitter"></button> -->
                  <!--   <button class="social-instagram"></button> -->
                  <!-- </div> -->
                </form>
              </div>
              <div id="sign-up-form" class="tab-pane">
                <form class="sign-up">
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sign-up-username-input"></label>
                    <input id="sign-up-username-input" type="text" data-target="user-name" placeholder="Username" name="user-name" required="required" class="form-control"/><i class="icon-username form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sign-up-email-input"></label>
                    <input id="sign-up-email-input" type="email" placeholder="Email" name="user-mail" required="required" class="form-control"/><i class="icon-mail form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sign-up-zip-input"></label>
                    <input id="sign-up-zip-input" type="text" data-target="zipcode" placeholder="Zip code" name="user-zip" required="required" class="form-control"/><i class="icon-location form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sign-up-password-input"></label>
                    <input id="sign-up-password-input" type="password" data-target="password" placeholder="Password" name="user-pass" required="required" class="form-control"/><i class="icon-password form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <label for="#sign-up-confirm-input"></label>
                    <input id="sign-up-confirm-input" type="password" data-target="confirmation" placeholder="Confirm Password" name="user-pass-confirm" required="required" class="form-control icon-password"/><i class="icon-password form-control-feedback"></i>
                  </div>
                  <label for="legalcheckbox" class="checkbox">
                    <input id="legalcheckbox" type="checkbox" value="" data-toggle="checkbox" required="required"/>I accept the <a href="legal.html">Legal Agreement</a>
                  </label>
                  <button type="submit" class="btn btn-block btn-submit">Sign Up, Free!</button>
                  <!-- <div class="social-holder"> -->
                  <!--   <h2>Or Sign Up via Social</h2> -->
                  <!--   <button class="social-facebook"></button> -->
                  <!--   <button class="social-twitter"></button> -->
                  <!--   <button class="social-instagram"></button> -->
                  <!-- </div> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/last_markup/js/min/vendor-min.js"></script>
    <script type="text/javascript" src="/last_markup/js/min/custom-min.js"></script>
    <script type="text/javascript" src="/last_markup/js/mresize.js"></script>
    <script type="text/javascript" src="/last_markup/js/maps.js"></script>
    <script type="text/javascript" src="/last_markup/js/marketwithlabel.js"></script>
    <script type="text/javascript" src="/last_markup/js/app-interactions-for-demo.js"></script>

    <script src="https://cdn.jsdelivr.net/rrssb/1.6.0/js/rrssb.min.js"></script>
    <script type="text/javascript">

      jQuery(document).ready(function ($) {

      $('.rrssb-buttons').rrssb({
      // required:
      title: 'This is the email subject and/or tweet text',
      url: 'http://kurtnoble.com/labs/rrssb/',

      // optional:
      description: 'Longer description used with some providers',
      emailBody: 'Usually email body is just the description + url, but you can customize it if you want'
      });
      });
    </script>


  </body>
</html>