<%= content_for :body_class, "navigation-blue-dark" %>
<div class="mainpage-wrapper">
      <div class="contact-view-wrapper show">
        <div class="nav-block nav-block-dark-blue"><a href="/" class="brand-logo"><i class="icon-logo"></i></a>
          <h2 class="section-title fuzz-file">Find Us</h2>
          <div class="nav-trigger nav-trigger-white"><span></span><span></span><span></span></div>
        </div>
        <div class="content-wrapper">
          <h3 class="title">Questions or Comments</h3>
          <p class="description">Getting in touch is easy @  <a href="#">info@fuzzfinders.com</a><br/>One of our team membert will get back to&nbsp;you!</p>
          <form>
            <input type="text" placeholder="Name" class="input input-small form-control"/>
            <input type="text" placeholder="E-mail" class="input input-small form-control"/>
            <textarea rows="5" placeholder="Message" class="textarea form-control"></textarea>
            <button type="submit" class="btn btn-big btn-green"> <span class="icon icon-mail"></span>SEND  </button>
          </form>
        </div>
      </div>
    </div>