<%= content_for :body_class, "fuzzfinders-app faq-outer-page" %>

<div class="faq-page-wrapper">
      <div class="section-wrapper">
        <div class="question">
          <button class="question-button btn btn-dropdown">What is FuzzFinders?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>FuzzFinders is a super-intuitive FREE App bringing people together to find lost pets! A sweet set of interactive features, collaborative mapping technology, and instant alerts; it's a social network empowering you to get Fuzzy back!</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">So... basically an App for lost pets?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>Our biggest goal at FuzzFinders is to give anyone who's lost their beloved pet a powerful tool to help bring them home safely. But not just an App, we're building an easily accessible community — your FuzzFriends — who will have your back when you need it the most.</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">How do I sign-up and is it free?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>Sign-up online by visiting <a href="https://www.fuzzfinders.com/">www.fuzzfinders.com</a>. Registration is simple and absolutely FREE. You'll have a profile set up in no time. No tricks down the road or paid subscription requests.</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">I LOST my pet, what do I do?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>If you've lost your fuzzy one, let us help! The I Lost a Pet feature allows you to quickly create a report, upload a photo, broadcast an alert locally in the app, and share to your social networks. Your community of FuzzFriends will also see it and jump in.</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">Pretty sure I FOUND a lost pet, what can I do?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>Catch a glimpse of a fuzzy where it shouldn't be? Suspect it might be someone's lost pet? It's easy! Create a report with the I Found a Pet feature and get the word out to the FuzzFinders community. You'll be earning major Karma and Wags!</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">I just filed a report, what happens now?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>By now a <strong>FuzzAlert</strong>, an automatically-generated alert, has gone out to all FuzzFriends in your local area. Alerted to a new report, FuzzFriends can review the details and come to your aid! Beyond that, all reports can be found in the Local FuzzAlerts section of the App and are searchable as long as the reported pet remains missing.</p>
            <p>You can control the span of your local Alert area. By default, it is set to 1.5 miles but can be updated to 5 or 10 miles in your FuzzProfile settings.</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">What's a FuzzAlert?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>As soon as a Lost a Pet or Found a Pet report is created, an automatic alert is sent out to FuzzFriends in your local area as defined in FuzzProfile settings (1.5 miles by default). Click on the FuzzAlert for details including photo, pet type, breed, color and other identifying information.</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">What are Local FuzzAlerts?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>Local FuzzAlerts allow FuzzFriends to check out lost and found pets in their area. Red pins on the map signify lost pets, while green pins represent found pets. Brighter pins indicate more recent reports. You also have the ability to scroll and view individual reports along with detailed information. Remember, you can comment on individual reports if you have valuable information to share or questions/tips for the pet owner.</p>
            <p>You can control your alert area in FuzzProfile settings. Keep a look out for pets on the loose, you might be able help!</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">How do I search local Lost & Found reports?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>Directly below the map area in Local FuzzAlerts, you can click on “Search&nbsp;FuzzAlerts” to conduct a search.</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">How can I increase my FuzzAlert search area?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>In your <strong>FuzzProfile</strong>, you have the ability to increase your <strong>FuzzAlert</strong> Area from 1.5 miles to 5 or 10 miles. </p>
            <p>Go to Edit&nbsp;Profile&nbsp;Settings&nbsp;> Notifications&nbsp;> FuzzAlert&nbsp;> Choose distance.</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">What are Wags and how can I earn more?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>Wags are karma points. You earn the first 3 just for joining FuzzFinders. Each time you help out and create a Found Pet report you earn 1 more. We always want to give a shout out to FuzzFriends who are stepping up. Soon you will be able to redeem Wags for all kinds of Fuzz stuff.</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">What is FuzzChat used for?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>Local FuzzChat is where neighboring FuzzFriends talk pets and you’re invited! Topics vary and it’s a great way to connect, coordinate searches, get tips, and see what the Fuzz is about.</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">How do I manage my profile settings?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>Easy! In your <strong>FuzzProfile</strong>, you can make quick updates to your profile Photo, Name, Zip code, Password, and Notifications (FuzzAlerts).</p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">I found someone’s pet! Where should I meet them for a handoff?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>FuzzFinders recommends any and all of the following:</p>
            <ul>
              <li>Meet the pet owner in a public place and never invite a stranger into your home.</li>
              <li>Take a friend with you.</li>
              <li>Tell someone where you are going.</li>
              <li>Take reasonable steps to verify they are indeed the pet’s owner (Ask if they can show photos of pet on their phone, tell you info on their tag, and be observant of the interaction between owner and pet).</li>
            </ul>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">Can I offer a cash reward for the retrieval of my pet?<span class="caret"></span></button>
          <div class="question-content collapse">
            <p>FuzzFinders strictly prohibits the exchange of monetary rewards for the return of a pet. </p>
          </div>
        </div>
        <div class="question">
          <button class="question-button btn btn-dropdown">Something’s not working quite right? Don’t hesitate to reach us.<span class="caret"></span></button>
          <div class="question-content collapse"><a href="mailto:support@fuzzfinders.com" class="text-center">support@fuzzfinders.com</a></div>
        </div>
      </div>
    </div>