<section class="contacts-1 city-pin">
      <div class="row">
        <div class="col-md-6 image-wrapper-1"></div>
        <div class="col-md-6 additional form-col text-center">
          <div class="context-wrapper">
            <div class="logo-wrapper"></div>
            <h3>Questions or Comments</h3>
            <p>Getting in touch is easy @  <a href="#">info@fuzzfinders.com</a></p>
            <p>One of our team membert will get back to&nbsp;you!</p>
            <form>
              <input type="text" placeholder="Name" class="form-control"/>
              <input type="text" placeholder="E-mail" class="form-control"/>
              <textarea rows="7" placeholder="Message" class="form-control"></textarea>
              <button type="submit" class="btn btn-primary"> <span class="icon icon-mail"></span>SEND  </button>
            </form>
          </div>
        </div>
      </div>
    </section>