
  <section class="fund description-block">
    <div class="row">
      <div class="col-sm-5 background-image-fund"></div>
      <div class="col-sm-7 content-fund">
        <div class="wrapper-content">
          <div class="logo"></div>
          <h3 class="title">Help Make Us Fuzzier</h3>
          <div class="promo">
            <p>
              The FuzzFinders service is free to use and will be forever.
              To do what we do requires a lot of technology, servers, development and catnip.
            </p>
            <p>
              Your contribution helps make this happen. We believe
              FuzzFinders will help enrich your community and foster
              awareness and compassion towards all&nbsp;things&nbsp;fuzzy!!
            </p>
          </div>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="fund-donate">
            <input type="hidden" name="cmd" value="_s-xclick"/>
            <input type="hidden" name="hosted_button_id" value="TPTD7AJ9A4RP6"/>
            <!--input(type='image', src='https://www.fuzzfinders.com/img/logo.png', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')--><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
            <button type="submit" class="btn btn-info">Contribute</button>
          </form>
        </div>
      </div>
    </div>
  </section>