<% title "FuzzFacts" %>
<section class="blog-3">
  <div class="container">
    <div class="title">
      <div class="logo"></div>
      <h3>The FuzzFinders Story</h3>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>At FuzzFinders.com, we love animals! We love people who love animals! We love people who have a friend who has a cousin who love s animals...You get the picture. Like all good ideas, the vision for our FuzzFinders app came from real life!</p>
        <p>When FuzzFounders Tiffany and Jeremy adopted their first cat, Josie, they wanted her to be an indoor-only pet. They lived on a busy street and the neighborhood was already overrun with cats.</p>
        <p>One hot afternoon, Josie maneuvered herself out of the screen window and was gone. They were frantic and quickly rallied their neighbo rs and friends to help search for her. During the search, Tiffany noticed how people who had never even met Josie were enthusiastic and helpful. Eventually, there was a sighting of Josie that led to her finding and happy reunion. </p>
        <p>As the result of a lost pet and a community coming together, an app was born: FuzzFinders!</p>
      </div>
    </div>
    <div class="cats"></div>
  </div>
</section>
<!-- crew-4-->
<section class="crew-4 two-members">
  <h3 class="title">Meet the FuzzFounders</h3>
  <div class="row member-one">
    <div class="col-md-4">
      <div class="photo"></div>
      <h3 class="name">Tiffany Challis</h3>
      <h4 class="status">Founder, CIO</h4><a href="mailto:tiffany@fuzzfinders.com">tiffany@fuzzfinders.com</a>
    </div>
    <div class="col-md-8">
      <p>Tiffany Challis is a recognized intuitive reader who works with clients and businesses all over the world. She has been featured in Daily Candy, Lifestyle Magazine, and Best Alternative Wellness Guide, San Francisco.</p>
      <p>Born and raised in New Zealand, Tiffany’s family always had pets. She noticed how each pet had a unique personality and her intuitive abilities gave her insight into what each was thinking and feeling.</p>
      <p>Her awareness of animal consciousness led Tiffany to become a vegan and an animal advocate. One of her core beliefs is that animals can bring strangers together and connect them to a greater good. This was proven true through her personal experience.</p>
      <p>“Soon after I became a cat mom, my beloved Josie escaped out of a window. I was beside myself and when I reached out to my community, everyone came together to help find her. This was my inspiration for FuzzFinders!”</p>
    </div>
  </div>
  <div class="row member-two">
    <div class="col-md-4">
      <div class="photo"></div>
      <h3 class="name">Jeremy Gagon</h3>
      <h4 class="status">Founder, CEO</h4><a href="mailto:jeremy@fuzzfinders.com">jeremy@fuzzfinders.com</a>
    </div>
    <div class="col-md-8">
      <p>Jeremy Gagon grew up on a horse farm in Virginia and always had a strong bond with animals.</p>
      <p>With a diverse background in music, architecture, and technology, Jeremy loves taking on large-scale problems and is compelled to make a difference locally and globally. As a former musical ambassador to the Middle East, he has been featured in Newsweek, Washington Post, and Rolling Stone.</p>
      <p>As the father of 3 cat children, Jeremy always has time to help animals and volunteers with a Bay Area pet rescue group. His devotion to animals is so strong that he has been vegan for the past 4 years.</p>
      <p>“My love for animals - everything I am passionate about - is reflected in FuzzFinders,” he says. “I’m thrilled to bring together a network of animal lovers to help pets in need and to build a positive presence in the community.”</p>
    </div>
  </div>
</section>
