<% title "FuzzFinders" %>
<section class="header flying-header">
  <div class="row">
    <div class="col-md-4 about">
      <h3><strong>Fuzz<span class="alt">Finders</span></strong>&nbsp;is a super-intuitive app bringing people together to&nbsp;find lost&nbsp;pets.</h3>
      <p>Interactive features, collaborative mapping technology and&nbsp;instant alerts. FuzzFinders is the&nbsp;social network empowering you to&nbsp;get Fuzzy back!</p>
      <% unless current_user %>
        <button data-target="sign-up" class="btn btn-orange btn-big _btn-sign">SIGN UP FREE</button>
      <% end %>
    </div>
  </div>
</section>
<section class="dark-blue-devider"></section>
<section class="description-block">
  <div class="row">
    <div class="col-md-6 player1024">
      <div class="player-wrapper">
        <div class="player" style="height: 290px !important;">
          <iframe id="vimeo-player" src="https://player.vimeo.com/video/183599504?title=0&amp;portrait=0&amp;color=3498db&amp;byline=0&amp;badge=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="100%" height="100%"></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-6 player1024">
      <div class="content">
        <div class="logo"></div>
        <h3 class="title">The&nbsp;FuzzFinders social network is free for everyone and allows users&nbsp;to:</h3>
        <div class="promo">
          <ul>
            <li>Report a lost or found pet in a few simple steps.</li>
            <li>Receive FuzzAlerts - Mobile alerts for missing or found pets in your area.</li>
            <li>Track your lost pet's path with FuzzFinder's geotagged comments.</li>
            <li>Participate in Local FuzzChat to chat with FuzzFinders in your area.</li>
            <li>Earn Wags  - Karma Points for helping your friends and neighbors retrieve their pets.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-3 v-center">
  <div class="col-sm-6 aligment">
    <h3>Lost a&nbsp;Pet?</h3>
    <p>It's a Pet Parent's worst nightmare! You were away for the weekend and your beloved pet escaped from the pet sitter. Getting the word out is as simple as making a post to alert your neighbors. FuzzFinders to the rescue!</p>
  </div>
  <div class="col-sm-6 image-block dog"></div>
</section>
<section class="content-3 v-center">
  <div class="col-sm-6 aligment">
    <h3>Found a&nbsp;Pet?</h3>
    <p>You're outside and see an unfamiliar pet. It's simple. Whip out your phone and take a photo with the FuzzFinders App. Make a post to notify the owner and fuzzy gets home safe and sound. FuzzFinders to the rescue!</p>
  </div>
  <div class="col-sm-6 image-block cat"></div>
</section>
<section class="content-3 v-center">
  <div class="col-sm-6 aligment">
    <h3>Earn Wags</h3>
    <p>Do you feel good when you help someone? So do we! Anytime you help  a fellow FuzzFriend you earn a Wag. Wags are a currency that will change the world! </p>
  </div>
  <div class="col-sm-6 image-block rabbit"></div>
</section>
<div class="call-to-action">
  <div class="row">
    <div class="col-md-6 call">
      <h2>Become part of the&nbsp;FuzzFinders&nbsp;community</h2>
    </div>
    <div class="col-md-6 sign-block"><a data-target="sign-in" class="btn-inverted">Sign In</a><a data-target="sign-up" class="btn-inverted">Sign Up</a></div>
  </div>
</div>
