.FullImage {
  position: relative;
  overflow: hidden;
}

.FullImage-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  height: auto !important;
}
