.ReportCreate {

}

.ReportCreate__step {
  min-height: 100% !important;
  height: 100%;
  overflow: visible;
  overflow-y: visible !important;
}

.ReportCreate__photo {
  height: 300px !important;
}

.ReportCreate__step-2 {
  overflow: visible;
  min-height: 100%;
  height: 100%;
}

.ReportCreate-input {
  margin-top: 0px !important;
}