.ReportCreate {

}

.ReportCreate-lost {
  .nav-block {
    background-color: #E2573B;
  }

  .ReportCreate__progress.step-1 {
    .ReportCreate__progress-1 {
      background-color: #E2573B;
    }
  }
  .ReportCreate__progress.step-2 {
    .ReportCreate__progress-1, .ReportCreate__progress-2 {
      background-color: #E2573B;
    }
  }

  .ReportCreate__progress.step-3 {
    .ReportCreate__progress-1, .ReportCreate__progress-2, .ReportCreate__progress-3 {
      background-color: #E2573B;
    }
  }
}

.ReportCreate-found {
  .nav-block {
    background-color: #1E9F84;
  }

  .ReportCreate__progress.step-1 {
    .ReportCreate__progress-1 {
      background-color: #1E9F84;
    }
  }
  .ReportCreate__progress.step-2 {
    .ReportCreate__progress-1, .ReportCreate__progress-2 {
      background-color: #1E9F84;
    }
  }

  .ReportCreate__progress.step-3 {
    .ReportCreate__progress-1, .ReportCreate__progress-2, .ReportCreate__progress-3 {
      background-color: #1E9F84;
    }
  }
}

.ReportCreate__step {
  min-height: 100% !important;
  height: 100%;
  overflow: visible;
  overflow-y: visible !important;
}

.ReportCreate__photo {
  height: 300px !important;
}

.ReportCreate__step-2 {
  overflow: visible;
  min-height: 100%;
  height: 100%;
}

.ReportCreate-input {
  margin-top: 0px !important;
}